page-viewprescription1 {
    .btn{
        height:100px;
        width:100%;
        border-style: solid;
        //border-width: 1px;
        background-color: #4CAF50;
     //   padding: 14px 30px;
     
         }
}
